.winned_wrapper {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.601);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;

  justify-content: center;
  overflow: hidden;
}

.winned_summ {
  position: relative;
  z-index: 111;
  margin-top: 50px;
}

.winned_summ h1 {
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444, 0 10px 3px #000;
  font-size: 60px;
  position: relative;
  z-index: 111;
  text-transform: uppercase;
}
.winned_texts {
  display: flex;
  flex-direction: column;
}
.retry_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background: red;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 90px;
  position: relative;
  z-index: 150;
}
.retry_btn p {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease;
}
.retry_btn p:hover {
  color: #ff4444;
  transition: all 0.4s ease;
}

.salutes {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
}

.salutes div {
  display: flex;
  align-items: center;
  justify-content: center;
}
